<div *ngFor="let number of arr;index as i">
    <div class="bar"  [style.height]='100*number + "px"' style="height: 100px;" [ngStyle]="currentColor(i)" ></div>
</div>

<div>
    <button class="btn btn-primary" (click)="bubbleSort()">start</button>
    <button class="btn btn-primary" (click)="resetarray()">reset</button>
</div>














<!-- Footer Part -->
<div id="footer" class="card bg-light">
    <div class="row">
      <div id="txt" class = "col-lg-1 text-dark">QuickSort</div>
      <div id="txt" class = "col-lg-1 text-dark">HeapSort</div>
      <div id="txt" class = "col-lg-1 text-dark">MergeSort</div>
      <div id="txt" class = "col-lg-1 text-dark">BubbleSort</div>
      <div id="txt" class = "col-lg-1 text-dark">SelectionSort</div>
      <div id="txt" class = "col-lg-1 text-dark">InsertionSort</div>
      <div id="txt" class = "col-lg-1 text-dark">CountingSort</div>
      <div class="col-lg-2 text-dark"><div id="txt">Animation Speed</div><div class="slidecontainer">
        <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
      </div>
    </div>
    <div class="col-lg-2 text-dark"><div id="txt">Array Size</div><div class="slidecontainer">
        <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
      </div>
    </div>
    
</div>
