.bar{
    border-left: 10px solid red;
    display: flex;
    float: left;
    margin: 10px;
    margin-left: 100px;
}


#footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height:100px;
}

#txt
{
    padding:10px;
    font-size:14px;
    font-weight:500;
    
}

#txt:hover{

    transform: scale(1.2);
}