.bar{
    display: flex;
    float: left;
    justify-content: center;
    padding: 5px;
}


#footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height:100px;
}

#txt
{
    padding:10px;
    font-size:10px;
    font-weight:500;
    font-size: 1vw;
}

#bt
{
    padding:10px;
    font-size:10px;
    font-weight:500;
    font-size: 1vw;
}

#txt:hover{

    transform: scale(1.1);
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4c43c7;
    cursor: pointer;
  }
  