































<div id="graph">
    <div *ngFor="let number of arr;index as i;last as l;first as f">
        <div 
        class="bar" 
        [style.height]='(75*number)/max_val + "%"' [ngStyle]="currentColor(i)">
        <div *ngIf = "this.size < 25" id="bar-txt">{{arr[i]}}</div>
    </div>
    </div>











<!-- Footer Part -->
<div id="footer" class="card bg-light">

    
    <div class="row">
      <div class = "col text-dark"><button id="txt"   class="btn btn-light">Linear Search</button></div>
      <div class = "col text-dark"><button id="txt"   class="btn btn-light">Binary Search</button></div>
      <div class = "col text-dark"><button id="txt"   class="btn btn-light">Jump Search</button></div>
      <div class = "col text-dark"><button id="txt"   class="btn btn-light">Exponential Search</button></div>
        
      <div class="col text-dark">
          <div id="txt">Animation Speed</div>
          <mat-slider class="ng-deep w-100 h-75" min="5" max="600" step="1"  [value]="150"></mat-slider>
        </div>
        
    <div class="col text-dark">
        <div id="txt">Array Size</div>
        <mat-slider class="ng-deep w-100 h-75" min="10" max="60" step="1"  [value]="20"></mat-slider>
    </div>

    <div class = "col-2 text-dark"> Helu Developers TM <br> npm install <a href="https://www.erome.com/a/lguZfpad">@angular/gorifuddi</a></div>
    </div>
</div>
