.bar{
    float: left;
    margin-left:1px;
    margin-right:1px;
    border:2px solid #343a40;
    transition: transform 200ms;
}

.bar:hover{
    transform : translateY(7px);
}

#graph
{
    display: flex;
    justify-content:center;
    padding:2px;
    
}

#bar-txt{
    font-size: 12px;
    margin-left:5px;
    margin-right:2px;
}


#footer 
{
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    color: white;
    text-align: center;
    height:15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



#txt
{
    padding:0.7em;
    font-size:0.9em;
    font-weight:400;
    transition: transform 450ms;
}

#main{
    width: 100%;
    justify-content:center;
    position:relative;
    margin-bottom:15%;
}

#txt2
{
    padding:0.7em;
    font-size:100%;
    font-weight: 400;
    transition: transform 450ms;
    margin-left:5px;
}

#bt
{
    padding:0.4em;
    font-size:1.2em;
    font-weight:400;
    transition: transform 500ms;
    width: 8em;
    justify-content: center;
}



#txt:hover{

    transform: scale(1.1);
    background-color: rgb(237, 237, 237);
    font-weight:500;
    
}

#bt:hover{
    transform: scale(1.1);
    background-color: rgb(237, 237, 237);
    font-weight:500;
    
}

#bt2:hover{
    transform: scale(1.1);
    background-color: rgb(237, 237, 237);
    
    font-weight:500;
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: black;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: black;
} 

