<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <nav class="nav bg-dark d-flex">
            <p>ALGORITHM VISUALISER</p>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a routerLink="sorting">SORTING</a>
                  <!--  <ul>
                        
                        <li><a href="#">SELECTION SORT</a></li>
                        <li><a href="#">INSERTION SORT</a></li>
                        <li><a href="#">BUBBLE SORT</a></li>
                        <li><a href="#">MERGE SORT</a></li>
                        <li><a href="#">QUICK SORT</a></li>
                        <li><a href="#">HEAP SORT</a></li>
                    </ul>-->
                </li>
                <li><a routerLink="searching">SEARCHING</a>
                   <!-- <ul>
                        <li><a href="#">LINEAR SEARCH</a></li>
                        <li><a href="#">BINARY SEARCH</a></li>
                        <li><a href="#">JUMP SEARCH</a></li>
                        <li><a href="#">EXPONENTIAL SEARCH</a></li>
                    </ul>-->
                </li>
                <li><a routerLink="pathfinding">PATH FINDING</a></li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    </body>
</html>