
<div class="container-flex ">
    <div id="main" class="container-fluid row">
        <div id="sidebar" class="container-fluid col-2 " style="background: linear-gradient(to right, #ff5f6d, #ffc371)">
            <br>
            <div class="row-2">
                <mat-form-field class="card bg-light w-100">
                    <mat-label 
                    style="
                    font-size:14px ; 
                    color: black ;
                    font-weight:400;
                    "> Path Finding Algorithms</mat-label>
                    <mat-select>
                      <mat-option value="one">DFS</mat-option>
                      <mat-option value="two">BFS</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

        </div>
        <div id="graph" class="container-fluid col-7 bg-light">
            <canvas id="myCanvas"></canvas>
        </div>
        <div class="col-2 container-fluid " id="sidebar">
            <br>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark" (click)="bfs()" > Start  </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark" (click)="dijkstra()" > dijkstra  </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark"> <mat-slide-toggle [checked]="wallchecked" (change)="walltoggle($event)"></mat-slide-toggle>  Walls</button>
            </div>
            
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark"> Random Grid </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark"> Random Maze </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark"> Change Start </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark">Change Destination</button>
            </div>
        </div>
    </div>
</div>


<!--
<div id="footer" class="card bg-light">

    
    <div class="row">
        <div class = "col text-dark"><button id="txt"   class="btn btn-light">Linear Search</button></div>
        <div class = "col text-dark"><button id="txt"   class="btn btn-light">Binary Search</button></div>
        <div class = "col text-dark"><button id="txt"   class="btn btn-light">Jump Search</button></div>
        <div class = "col text-dark"><button id="txt"   class="btn btn-light">Exponential Search</button></div>
          
      <div class="col-2 text-dark">
          <div id="txt">Animation Speed</div>
          <mat-slider class="ng-deep w-100 h-75" min="5" max="600" step="1"   [value]="150"></mat-slider>
        </div>
        
    <div class="col-2 text-dark">
        <div id="txt">Array Size</div>
        <mat-slider class="ng-deep w-100 h-75" min="10" max="80" step="1"   [value]="20"></mat-slider>
    </div>
    <div class="col-1"></div>

    </div>
</div>
-->