
<div>
    <div id="main" class="container-fluid row">
        <div id="sidebar" class="container-fluid col-2 " style="background: linear-gradient(to right, #ff5f6d, #ffc371)">
            <br>
            <div class="row-2">
              <button id="bt" class="btn btn-light mb-1 pd-2 text-dark"> DFS </button>
          </div>
          <div class="row-2">
              <button id="bt" class="btn btn-light mb-1 pd-2 text-dark"> BFS </button>
          </div>
          <div class="row-2">
              <button id="bt" class="btn btn-light mb-1 pd-2 text-dark"> Dijkstra </button>
          </div>
          <div class="row-2">
              <button id="bt" class="btn btn-light mb-1 pd-2 text-dark"> A-star</button>
          </div>

        </div>
        <div id="graph" class="container-fluid col-7">
            <canvas id="myCanvas"></canvas>
        </div>
        <div class="col-2 container-fluid " id="sidebar">
            <br>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark" (click)="astar()" [disabled]="isdisabled() || isdisabledalt()" > Start  </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark" (click)="resetGrid()" [disabled]="isdisabled()"> Reset  </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark" (click)="randomGrid()" [disabled]="isdisabled()"> Random Grid </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark" (click)="primsMazeAlgorithm()" [disabled]="isdisabled()"> Random Maze </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark" (click)="changeSrc()" [disabled]="isdisabled() || isdisabledalt()"> Change Start </button>
            </div>
            <div class="row-2">
                <button id="bt" class="btn btn-light mb-1 pd-2 text-dark" (click)="changeDes()" [disabled]="isdisabled() || isdisabledalt()">Change Destination</button>
            </div>
            <div class="row-2">
              <button id="bt" class="btn btn-light mb-1 pd-2 text-dark"> <mat-slide-toggle [disabled]="isdisabled() || isdisabledalt()" [checked]="wallchecked" (change)="walltoggle($event)"></mat-slide-toggle>  Walls</button>
          </div>
            <div class="row-2 bg-light" style="height:50px ; border-radius:5px" >
              <div style="font-weight: 400; padding:2px ; margin-left:5px"> Wall weight </div>
            <mat-slider class="ng-deep w-100 bg-light" style="border-radius:5px" (input)="changeWallWeight($event)" min="1" max="101" step="1" [value]="101"
            [disabled]="this.walltype==0 || isdisabled() || isdisabledalt()"
            ></mat-slider>
            </div>
        </div>
    </div>
</div>


<!--
<div id="footer" class="card bg-light">


    <div class="row">
        <div class = "col text-dark"><button id="txt"   class="btn btn-light">Linear Search</button></div>
        <div class = "col text-dark"><button id="txt"   class="btn btn-light">Binary Search</button></div>
        <div class = "col text-dark"><button id="txt"   class="btn btn-light">Jump Search</button></div>
        <div class = "col text-dark"><button id="txt"   class="btn btn-light">Exponential Search</button></div>

      <div class="col-2 text-dark">
          <div id="txt">Animation Speed</div>
          <mat-slider class="ng-deep w-100 h-75" min="5" max="600" step="1"   [value]="150"></mat-slider>
        </div>

    <div class="col-2 text-dark">
        <div id="txt">Array Size</div>
        <mat-slider class="ng-deep w-100 h-75" min="10" max="80" step="1"   [value]="20"></mat-slider>
    </div>
    <div class="col-1"></div>

    </div>
</div>
-->
