<!DOCTYPE html>
<html>
<head>
       <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
</head>
<body style=  "background-image: url('https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/09.jpg');
background-repeat: no-repeat;
background-attachment: fixed;">
      
              <div class="text-box">
                     <h1 style="font-size: 55px; color: aliceblue;">Welcome to Algorithm Visualiser</h1>
              </div>
              <div class="subtext">
                     <h3 style="color: white;">What would you like to visualise?</h3>
              </div>
             
              <div class="row">
                     <div class="column">
                       <div class="card" >
                              <a routerLink="../sorting">
                                   Sorting
                              </a></div>
                     </div>
                     <div class="column">
                       <div class="card">
                              <a routerLink="../searching">
                                   Searching
                              </a></div>
                     </div>
                     <div class="column">
                       <div class="card">
                              <a routerLink="../pathfinding">Path Finding</a>
                            </div>
                     </div>
                   </div>
                   <hr style="color: blanchedalmond; height: 5px; margin-top: 50px;">
                   <div class="sorting-theory">
                         <h1 style="color: white; padding-left: 20px; padding-top: 20px;">
                           Sorting Algorithms
                         </h1> 
                         <p style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">A Sorting Algorithm is used to rearrange a given array or list elements according to a comparison operator on the elements. The comparison operator is used to decide the new order of element in the respective data structure.
                         </p>
                         <p style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">The sorting algorithms we have visualised here along with their complexities are as follows:-</p>
                         <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Quick Sort: O(n<sup>2</sup>) for worst case, O(nLogn) for best and average case</li>
                         <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Heap Sort: O(nLogn)</li>
                         <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Merge Sort: O(nLogn)</li>
                         <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Bubble Sort: O(n<sup>2</sup>) for worst case, O(n) for best case</li>
                         <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Selection Sort: O(n<sup>2</sup>)</li>
                         <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Insertion Sort: O(n<sup>2</sup>)</li>
                     </div>
                     <hr style="color: blanchedalmond; height: 5px; margin-top: 20px;">
                     <div class="searching-theory">
                            <h1 style="color: white; padding-left: 20px; padding-top: 20px;">
                                   Searching Algorithms
                                 </h1> 
                                 <p style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">
                                   Searching Algorithms are designed to check for an element or retrieve an element from any data structure where it is stored. Based on the type of
                                   search operation, these algorithms are generally classified into two categories:
                            </p>
                            <ol type="1">
                                   <li style="color: blanchedalmond;"> <b>Sequential Search:</b> In this, the list or array is traversed sequentially and every element is checked. 
                                       For example: Linear Search.</li>
                                   <li style="color: blanchedalmond; padding-top: 2px;"> <b>Interval Search:</b> These algorithms are specifically designed for searching in sorted data-structures. These type of searching algorithms are much more efficient than Linear Search as they repeatedly target the center of the search structure and divide the search space in half. For Example: Binary Search.</li>
                            </ol>
                            <p style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">The searching algorithms we have visualised here along with their complexities are as follows:-
                            </p>
                            <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Linear Search: O(n)</li>
                            <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Binary Search: O(Logn)</li>
                            <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Jump Search: O(&radic;n)</li>
                            <li style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">Exponential Search: O(Logn)</li>
                     </div>
                     <hr style="color: blanchedalmond; height: 5px; margin-top: 20px;">
                     <div class="graph-algos">
                            <h1 style="color: white; padding-left: 20px; padding-top: 20px;">
                                   Path Finding
                                 </h1>
                                 <p style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">
                                   Pathfinding means to search a graph by picking one vertex as it's starting point and then exploring adjacent nodes, until
                                   the destination node is reached. Different path finding algorithm have different complexities, with each having an intent to find the cheapest
                                   possible path.
                            </p>
                            <p style="color: blanchedalmond; padding-left: 20px; padding-right: 20px">
                                   Algorithms such as BFS(breadth-first search) and DFS(depth-first search) usually iterate over all possible paths, until they find the destination node.
                                   But, it is not necessary to look for all possible paths. Algorithms such as Dijkstra's Algorithm, and
                            </p>
                     </div>

                     <br>
            <router-outlet></router-outlet>
</body>

</html>
       

