<!DOCTYPE html>
<html>
<head>
       <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
       <div class="text-box">
              <h1 style="font-size: 55px;">Welcome to Algorithm Visualiser</h1>
       </div>
       <div class="subtext">
              <h3>What would you like to visualise?</h3>
       </div>
      
       <div class="row">
              <div class="column">
                <div class="card">
                       <a routerLink="../sorting">
                            Sorting
                       </a></div>
              </div>
              <div class="column">
                <div class="card">
                       <a routerLink="../searching">
                            Searching
                       </a></div>
              </div>
              <div class="column">
                <div class="card">
                       <a routerLink="../pathfinding">Path Finding</a>
                     </div>
              </div>
            </div>
            <router-outlet></router-outlet>
</body>

</html>
       

